@model DSW1.Proyecto_Tienda_Zapatillas.Web.Models.Acceso.SesionCliente

@{
    ViewData["Title"] = "IniciarSesionUsuarioCliente";
}

@{
    Layout = null;

}
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/88862e25c2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<div class=" d-flex">

    

    <div class="d-inline-block vh-100 flex-shrink-1 p-3 align-items-center flex-shrink-1 justify-content-center d-flex flex-column shadow"
         style="background-color: #B0B9BF; width: 90vw;">
        

            <img src="/Img/Icono.png" class=" w-75 "/>

    </div>

    <div class="login d-flex justify-content-center container align-items-center shadow-lg" style="background-color: #EDEFF0">
        <div class="w-50 p-3 d-flex flex-column rounded-3 bg-opacity-75 shadow cajaLogin">
            <h1 class="text-center">Iniciar Sesión</h1>

            <hr />
            <div class="d-flex flex-column justify-conten flex-grow-1">
                <div class="row justify-content-center mb-2 flex-grow-1">
                        <div class="col-md-10">

                        <form asp-action="IniciarSesionUsuarioCliente">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            @if (ViewBag.Mensaje != null)
                            {
                                <div class="alert alert-info">
                                    @ViewBag.Mensaje
                                </div>
                            }

                            <div class="form-floating mb-3">
                                <input asp-for="Email" class="form-control custom-input @(!string.IsNullOrEmpty(ViewData.ModelState["Email"]?.Errors.FirstOrDefault()?.ErrorMessage) ? "is-invalid" : "")" placeholder="name@example.com">
                                <label class="form-label fw-bold" for="Email">Email</label>
                                <span asp-validation-for="Email" class="invalid-feedback">@Html.Raw(ViewData.ModelState["Email"]?.Errors.FirstOrDefault()?.ErrorMessage)</span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Clave" class="form-control custom-input @(!string.IsNullOrEmpty(ViewData.ModelState["Clave"]?.Errors.FirstOrDefault()?.ErrorMessage) ? "is-invalid" : "")" placeholder="Ingrese su Clave">
                                <label class="form-label fw-bold" for="Clave">Contraseña</label>
                                <span asp-validation-for="Clave" class="invalid-feedback">@Html.Raw(ViewData.ModelState["Clave"]?.Errors.FirstOrDefault()?.ErrorMessage)</span>
                            </div>

                            <div class="d-flex justify-content-between mb-4">
                                <input type="submit" value="Iniciar Sesion" class="btn btn-primary">
                                <a asp-action="RegistroCliente" class="btn btn-primary">Registrarse</a>
                            </div>
                        </form>


                        </div>
                    </div>

                <div class="d-flex  align-items-end">
                    <div class="d-flex justify-content-between flex-grow-1">

                            <span>¿Quieres convertirte en colaborador?</span>
                            <a asp-action="IniciarSesionUsuarioColaborador" class="text-primary">Ingrese Aquí</a>

                        </div>
                    </div>

                @if (ViewBag.Mensaje == null)
                {
                    <p>No hay mensajes para mostrar.</p>
                }
                else
                {
                    <p>El mensaje es: @ViewBag.Mensaje</p>
                }

            </div>

                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }

                
            </div>
        </div>

</div>


