@model DSW1.Proyecto_Tienda_Zapatillas.Web.Models.Acceso.RegistroColaborador

@{
    ViewData["Title"] = "RegistroColaborador";
}

@{
    Layout = null;

}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/88862e25c2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<div class=" d-flex ">



    <div class="d-inline-block vh-100 flex-shrink-1 p-3 align-items-center flex-shrink-1 justify-content-center d-flex flex-column shadow"
         style="background-color: #B0B9BF; width: 90vw;">


        <img src="/Img/Colaborador.png" class=" w-75 " />

    </div>

    <div class="login d-flex justify-content-center container align-items-center shadow-lg" style="background-color: #EDEFF0">
        <div class="w-auto h-auto p-4 d-flex flex-column rounded-3 bg-opacity-75 shadow cajaLogin">
            <h1 class="text-center">Iniciar Sesión</h1>

            <hr />
            <div class="d-flex flex-column justify-conten flex-grow-1">
                <div class="row justify-content-center mb-2 flex-grow-1">
                    <div class="col-md-12 px-5 py-2">
                        <form asp-action="RegistroColaborador">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div>
                                <span class="fw-bold">DNI</span>
                                <div class="input-group mb-3 ">
                                    <div class="form-control ps-0 border-0 bg-transparent d-flex flex-column">
                                        <div class="mb-2 d-flex gap-2 border-bottom border-dark pb-1">
                                            <span class="input-group-text mb-0  pb-0 p-1 border-0 bg-transparent"><i class="fa-solid fa-id-card"></i></span>
                                            <input asp-for="DNI" style="outline:none " class=" mb-0 border-0 p-0 bg-transparent w-100 @(!string.IsNullOrEmpty(ViewData.ModelState["DNI"]?.Errors.FirstOrDefault()?.ErrorMessage) ? "is-invalid" : "")" placeholder="12345678">
                                        </div>
                                        <span asp-validation-for="DNI" class="invalid-feedback d-block">@Html.Raw(ViewData.ModelState["DNI"]?.Errors.FirstOrDefault()?.ErrorMessage)</span>
                                    </div>
                                </div>
                            </div>

                          
                            <div>
                                <span class="fw-bold">Email</span>
                                <div class="input-group mb-3 ">
                                    <div class="form-control ps-0 border-0 bg-transparent d-flex flex-column">

                                        <div class="mb-2 d-flex gap-2 border-bottom border-dark pb-1">
                                            <span class="input-group-text mb-0  pb-0 p-1 border-0 bg-transparent"><i class="fa-solid fa-envelope"></i></span>
                                            <input asp-for="Email" style="outline:none " class=" mb-0 border-0 p-0 bg-transparent w-100 @(!string.IsNullOrEmpty(ViewData.ModelState["Email"]?.Errors.FirstOrDefault()?.ErrorMessage) ? "is-invalid" : "")" placeholder="name@example.com">
                                        </div>

                                        <span asp-validation-for="Email" class="invalid-feedback d-block">@Html.Raw(ViewData.ModelState["Email"]?.Errors.FirstOrDefault()?.ErrorMessage)</span>


                                    </div>
                                </div>
                            </div>

                            <div>
                                <span class="fw-bold">Contraseña</span>
                                <div class="input-group mb-3 ">
                                    <div class="form-control ps-0 border-0 bg-transparent d-flex flex-column">

                                        <div class="mb-2 d-flex gap-2 border-bottom border-dark pb-1">
                                            <span class="input-group-text mb-0  pb-0 p-1 border-0 bg-transparent"><i class="fa-solid fa-lock"></i></span>
                                            <input asp-for="Clave" class="mb-0 border-0 p-0 bg-transparent w-100  @(!string.IsNullOrEmpty(ViewData.ModelState["Clave"]?.Errors.FirstOrDefault()?.ErrorMessage) ? "is-invalid" : "")" placeholder="Ingrese su Clave" style="outline:none ">
                                        </div>

                                        <span asp-validation-for="Email" class="invalid-feedback d-block">@Html.Raw(ViewData.ModelState["Clave"]?.Errors.FirstOrDefault()?.ErrorMessage)</span>


                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between mb-4">
                                <input type="submit" value="Registrarse" class="btn btn-primary">
                                <a asp-action="IniciarSesionUsuarioColaborador" class="btn btn-primary">Iniciar Sesion</a>
                            </div>
                        </form>
                        <!--Sección Mensaje-->
                        @section Scripts {
                            @{
                                await Html.RenderPartialAsync("_ValidationScriptsPartial");
                            }
                        }

                        @if (ViewBag.Mensaje != null)
                        {
                            <div class="alert alert-danger p-2 ">
                                @ViewBag.Mensaje
                            </div>
                        }
                    </div>
                </div>

                <div class="d-flex  align-items-end">
                    <div class="d-flex justify-content-between flex-grow-1 gap-5">

                        <span>¿Eres Cliente?</span>
                        <a asp-action="IniciarSesionUsuarioCliente" class="text-primary">Ingrese Aquí</a>

                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
